# binary
/fsrc
# build directory
/build/
/add_modules.sh
/gen_cli.sh

# python build directories
__pycache__/
/python/build/
/python/dist/
/python/docs/markdown/
/python/docs/doctrees/
/python/*.egg-info/

# nvim session
.s
